@page "/about"

<PageTitle>About clinicaltrials.fyi</PageTitle>

<h2>About this early preview of <a href='/'>clinicaltrials.fyi</a></h2>

<div>
    The goal of this site is to: 
    
    <ul>
        <li>Help visualize the trial landscape</li>
        <li>Help understand pre-clinical pipelines</li>
        <li>Help concerned people stay up to date on changes</li>
    </ul>

    Contact: rob@relyeas.net
</div>